<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="block-center">
      <h3 id="welcome-note">The Amazing Game of Tic Tac Toe</h3>
      <a href="/game" class="center"><button type="button" name="button">Click to play</button></a>
    </div>
  </body>
</html>
